*{
    padding: 0%;
    margin: 0%;
}
.Cricketer{
    display: flex;
    justify-content:space-around;

   
}
.player1{
    height:450px;
    width:300px;
    padding: 8px;
    border:1px solid black;
    border-radius: 10px;

}
.player1 img{
    height:350px;
    width:250px;
    object-fit: cover;


}
.player1 h2{
    margin-top:10px;
}
.player1 h4{
    margin-top:10px;
}
.player1:hover{
    box-shadow:0px 0px 18px #333;
    transition: all 0.5 ease;
}